body {
    background-color: #F8F8F8;
}

ul.user {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

ul.user li {
    margin-right: 10px;
}

.list-group-item {
    border-right: none;
    border-left: none;
    border-top: none;
}